node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
expo-auth-google-auth-key.json
client_secret_android-expo-learning.json
client_secret_web-client.apps.googleusercontent.com.json
